body {
	text-align: center;
}

#container {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:1020px;
}
#otsikko {
	background: transparent url(../images/Banner_tausta.png) repeat-x scroll 0 0;
	clear:both;
	height:84px;
	padding:0;
}

#otsikko h1 {
	color:#F0F0F0;
	font-size:3em;
	padding-left:12px;
	padding-top:20px;
}

.ui-jqgrid .ui-jqgrid-htable th div {

}
.ui-jqgrid .ui-pg-input {
	height: 16px;
}


#dashboard {

height: 400px;
width: 800px;
}

.ui-widget-header {
	padding-left: 10px;
}



#LoginForm {

	margin: 10px;

}

#login-content {
    margin: 40px 50px 0px 50px;
}

#login_box {

	width: 290px;
	height: 140px;

	
}
#LoginForm label {
	width: 90px;
	display: inline-block;
	text-align: right;
}
#LoginForm input {
	margin-left: 3px;
	margin-top: 3px;

}
#LoginForm #form-login {
	float:right;
	margin-top: 10px;
	margin-right: 25px;
	padding:5px;
}

#login_message_box {
	height: 80px;
	width: 270px;
	padding-left: 10px;
	display: none;

}
#notSupportedMessage {
    height: 250px;
    width: 100%;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   
    padding-top: 20px;
    padding-left: 20px;
    
    display: none;

}
.error {
    color: #b94a48;
    background-color: #f2dede;
    
    border: 1px solid #eed3d7;
}

#notSupportedMessage > .title {
    font-size: 1.3em;
    font-weight: bold;
    
}

#notSupportedMessage > .body {
    margin-top: 10px;
    white-space: pre;
}

